<div class="flex bg-green-500 h-screen justify-between px-4 py-4">
    <div class="h-full w-full grid grid-cols-4 space-x-4">
        <div class="flex flex-col justify-between h-full col-start-1 col-end-4">
            <div class="flex-grow bg-blue-800 mb-4 shadow-2xl py-5 px-4 text-white rounded messages">
                <p class="messages_item"><span class="font-bold text-lg text-yellow-400">Админ:</span> всем привет!</p>
                <p class="messages_item"><span class="font-bold text-lg text-yellow-400">Пользователь1:</span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti quos esse consequatur, 
                    eius blanditiis ipsa labore molestiae adipisci est odio fuga ipsum natus error exercitationem commodi quas illo ad aliquid?</p>
                <p class="message"><span class="font-bold text-lg text-yellow-400">Админ:</span> Спам запрещён!</p>
            </div>
            <form class="flex space-x-2 form-message">
                <input name="message" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 
                leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="сообщение...">
                <button class="bg-white font-bold px-5 py-1 rounded button-send">Отправить</button>
            </form>
        </div>
        <div class="h-full bg-blue-800 rounded">

        </div>
    </div>
    
    <script src="chat.js"></script>
</div>
