<div class="flex bg-green-500 h-screen items-center justify-center">
    <form class="login_form px-6">
        <div>
            <label class="block text-white font-bold mb-2" for="username">
                Никнейм
             </label>
            <input name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 
            leading-tight focus:outline-none focus:shadow-outline" 
            id="username" type="text" placeholder="Peter the First">
        </div>
        <div class="flex justify-start">
            <button class="login bg-blue-700 hover:bg-blue-600 rounded text-white mt-6 px-5 py-1 border-none outline-none">Войти</button>
        </div>
    </div>
</div>